body {
	background-color: #1a1a1a;
}

.titlecard {
	background-color: #323232;
	border-color: #666666;
	border-radius: 1rem;
	padding: 1rem;
	margin-top: 2rem;
	min-width: 400px;
}

.titlecard > * {
	font-size: 1.4rem;
	text-align: justify;
	color: #000000;
}

.titlecard > h3 {
	font-size: 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

.card1 {
	background-color: #323232;
	border-color: #666666;
	border-radius: 1rem;
	padding: 1rem;
	margin-top: 2rem;
}

.square {
	height: 8rem;
	width: 8rem;
}